html {
	box-sizing: border-box;
}

body { 
	min-height: 100vh;
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

h3 {
	margin: 20px 0px 10px 0px;
	letter-spacing: 3px;
}

.header {
	padding: 70px 0px 0px 0px;
    color: hotpink;
    
}
.jumbotron {
    background: url(https://stephiesuzanne.github.io/unit-4-game/Assets/Images/daniele-levis-pelusi-NXt2h4AQZVU-unsplash.jpg) fixed center no-repeat;
    background-size: cover;
    font-family: Jazz LET, fantasy;
    
   }
h1, h3, #targetNumber, #totalScore, #wins, #losses, .score {
	color: purple;
}

h1 {
	color: hotpink;
	margin: 55px 0px 75px 0px;
	letter-spacing: 12px;
}

.crystalimg {
	width: 150px;
	margin: 30px auto;
}

.directions {
	color: hotpink;
	text-align: center;
	padding: 20px 85px;
}

.score {
	padding-top: 30px;
	margin-bottom: 0;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 3px;
}



.total, .scores, .directions {
	margin: auto;
}

.btn {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	color: hotpink;
	letter-spacing: 3px;
}

